<nav class="flex justify-between p-6 text-sm font-semibold">
  <a href="/" class="flex-1">
    <img src="/image/logo3.svg" alt="Logo" class="h-5 invert dark:invert-0" />
  </a>
  <!-- <a href='/' class='flex-1'>
      <img src='/logo.svg' alt='Logo' class='h-5 invert dark:invert-0' />
    </a> -->

  <div class="flex gap-x-12">
    <a href="/blog/my6">tic-tac-toe</a>
    <a href="/blog/my7">JS Basics</a>
    <a href="/blog/my8">JS Exercies</a>
    <a href="/blog/my4">MOD4</a>
    <a href="/blog/my40">MOD4 local links</a>
    <a href="/blog/my5">MOD5</a>
  </div>

  <div class="flex-1 text-right">
    <a href="/blog">Home &rarr;</a>
  </div>
</nav>
